body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #A7BB10;
  background-color: #1C3A44;
}

a {
  color: GhostWhite;
} 

p {
  

font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: LightSeaGreen;
}

.page-header {
  border-bottom: 1pxpx solid #35B8B0;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid 

#ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input

[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  

background-color: #4C7840;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #CE6970;
  border: 1px solid #ccc;
}

.well {
  background-color: #F3DFF0;
}

.btn {
  color: #53A220;
  

background-image: -moz-linear-gradient(top, #6E89A0, #207ED0);
  background-image: -ms-linear-gradient(top, #6E89A0, #207ED0);
  background-image: -webkit-gradient(linear, 0 0, 

0 100%, from(#6E89A0), to(#207ED0));
  background-image: -webkit-linear-gradient(top, #6E89A0, #207ED0);
  background-image: -o-linear-gradient(top, #6E89A0, #207ED0);
  

background-image: linear-gradient(top, #6E89A0, #207ED0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'6E89A0, endColorstr='#'207ED0, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #53A220;
  background-color: #207ED0;
}

.btn-primary {
  background-color: #006dcc;
  color: #D68D70;
  

background-image: -moz-linear-gradient(top, #D33CA0, #6FCE80);
  background-image: -ms-linear-gradient(top, #D33CA0, #6FCE80);
  background-image: -webkit-gradient(linear, 0 0, 

0 100%, from(#D33CA0), to(#6FCE80));
  background-image: -webkit-linear-gradient(top, #D33CA0, #6FCE80);
  background-image: -o-linear-gradient(top, #D33CA0, #6FCE80);
  

background-image: linear-gradient(top, #D33CA0, #6FCE80);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'D33CA0, endColorstr='#'6FCE80, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #6FCE80;
}

.btn-warning {
  color: #2E4920;
  

background-image: -moz-linear-gradient(top, #FA2300, #581380);
  background-image: -ms-linear-gradient(top, #FA2300, #581380);
  background-image: -webkit-gradient(linear, 0 0, 

0 100%, from(#FA2300), to(#581380));
  background-image: -webkit-linear-gradient(top, #FA2300, #581380);
  background-image: -o-linear-gradient(top, #FA2300, #581380);
  

background-image: linear-gradient(top, #FA2300, #581380);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'FA2300, endColorstr='#'581380, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #581380;
}

.btn-danger {
  color: #688A80;
  

background-image: -moz-linear-gradient(top, #268620, #464FA0);
  background-image: -ms-linear-gradient(top, #268620, #464FA0);
  background-image: -webkit-gradient(linear, 0 0, 

0 100%, from(#268620), to(#464FA0));
  background-image: -webkit-linear-gradient(top, #268620, #464FA0);
  background-image: -o-linear-gradient(top, #268620, #464FA0);
  

background-image: linear-gradient(top, #268620, #464FA0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'268620, endColorstr='#'464FA0, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #464FA0}

.btn-success {
  color: #C9E0C0;
  background-

image: -moz-linear-gradient(top, #C691D0, #8FEF70);
  background-image: -ms-linear-gradient(top, #C691D0, #8FEF70);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, 

from(#C691D0), to(#8FEF70));
  background-image: -webkit-linear-gradient(top, #C691D0, #8FEF70);
  background-image: -o-linear-gradient(top, #C691D0, #8FEF70);
  background-

image: linear-gradient(top, #C691D0, #8FEF70);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'C691D0, endColorstr='#'8FEF70, GradientType=0);
}
.btn-

success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #8FEF70;
}

.btn-info {
  color: #802820;
  background-

image: -moz-linear-gradient(top, #49A660, #EC2FD0);
  background-image: -ms-linear-gradient(top, #49A660, #EC2FD0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, 

from(#49A660), to(#EC2FD0));
  background-image: -webkit-linear-gradient(top, #49A660, #EC2FD0);
  background-image: -o-linear-gradient(top, #49A660, #EC2FD0);
  background-

image: linear-gradient(top, #49A660, #EC2FD0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'49A660, endColorstr='#'EC2FD0, GradientType=0);
}
.btn-

info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #EC2FD0;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: 

#fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #94A5B0;
  border-color: #A3B410;
}
.alert-success, .alert-success .alert-heading {
  color: #560F70;
}
.alert-danger, .alert-error {
  background-color: #7A6360;
  border-color: #455E90;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: 

#343E10;
}
.alert-info {
  background-color: #9BD2D0;
  border-color: #B17AC0;
}
.alert-info, .alert-info .alert-heading {
  color: #8FD870;
}

.navbar-inner {
  background-image: -moz-

linear-gradient(top, #FAD690, #6C9A00);
  background-image: -ms-linear-gradient(top, #FAD690, #6C9A00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAD690), 

to(#6C9A00));
  background-image: -webkit-linear-gradient(top, #FAD690, #6C9A00);
  background-image: -o-linear-gradient(top, #FAD690, #6C9A00);
  background-image: linear-

gradient(top, #FAD690, #6C9A00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'FAD690, endColorstr='#'6C9A00, GradientType=0);
}

.navbar .brand {
  

padding: 8px 20px 12px;
  font-size: 20px;
  color: LightSeaGreen;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #10A3E0;
  border-right: 1px solid #15CFB0;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #C48B30;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > 

a:focus {
  color: #577160;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #A11FF0;
  background-color: #F7AF40;
}

.label-important,
.badge-important {
  

background-color: #3018A0;
}

.label-warning,
.badge-warning {
  background-color: #754420;
}

.label-success,
.badge-success {
  background-color: #684000;
}

.label-info,
.badge-info {
   

background-color: #1B8270;
}
